* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #e9ecef;
}

.container {
  text-align: center;
  margin-top: 9.8rem;
}

h1 {
  font-size: 4rem;
  font-weight: 300;
  line-height: 1.2;
}

h2 {
  margin-top: 15px;
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.2;
}

hr {
  margin-top: 20px;
}
